/* style.css */

/* Existing styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav {
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

/* Search Bar Styles */
.search-container {
    text-align: center;
    margin-top: 20px;
}

#search-bar {
    width: 500px; /* Increase width */
    padding: 15px; /* Increase padding */
    font-size: 18px; /* Increase font size */
}

#search-button {
    padding: 15px 30px; /* Increase padding */
    font-size: 18px; /* Increase font size */
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px; /* Space between input and button */
}

#search-button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
